<?xml version="1.0" encoding="UTF-8"?>

<config>
    <!-- 监听端口 -->
    <port>12000</port>

    <!-- 阻塞任务队列长度 -->
    <blocking-log>125</blocking-log>

    <!-- 核心线程数 -->
    <core-pool-size>5</core-pool-size>

    <!-- 最大线程数 -->
    <max-pool-size>10</max-pool-size>

    <!-- 空闲线程存活时间(second) -->
    <keep-alive-time>60</keep-alive-time>

    <!-- 编译器内存大小 -->
    <default-memorysize>1024</default-memorysize>

</config>